name: CI
on:
  pull_request:
  push:
  schedule:
    - cron: '0 7 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 11
          - java: 17
          - java: 21
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/setup-action@v1
        with:
          jvm: "temurin:${{ matrix.java }}"
          apps: sbt 
      - uses: coursier/cache-action@v6
      - run: sbtn -v -Dfile.encoding=UTF8 -J-XX:ReservedCodeCacheSize=256M $(if [[ "${{matrix.sbt_version}}" != "" ]] ; then echo "^^${{matrix.sbt_version}}" ; fi) test scripted
      - run: rm -rf "$HOME/.ivy2/local"
      - run: rm -rf "$HOME/.ivy2/cache/tech.ant8e"
